@import './Home'
@import './MovieDetail'
@import './ActorDetail'
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')

a
  color: #222

  &:hover
    text-decoration none
